.App {
  text-align: center;
  margin-left: 1rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


a, h1 {
  padding: 15px
}

table, th, td {
  border: 1px solid black;
}
input.error {
  border-color: red;
}
.input-feedback {
   color: red;
   margin-top: 0.25rem;
 }

 .addbtn {
   margin-right: 3%;
   float:right;
    margin-top: 3%;
    margin-bottom: 2%;

 }

 .addbtn a {
 color: #fff !important;
 text-decoration: none;
 }

 .familycontent {
     background-color: gainsboro;
      text-align:center;
      padding: 2%;
     }

     .addfamily {
border: 1px solid gray;
margin-top: 5%;
margin-left: 2%;
     }
     .addform {
     padding: 1%;
     }

     .navbar {
     background-color: #00308F !important;
     }

     .navbar-dark .navbar-nav .nav-link {
     color: #fff !important;
     }
      .navbar-dark .navbar-nav .nav-link:hover {
      background-color: darkblue;
          color: #fff !important;
          }


